.about-content {
    width: calc(100% - 35vw);
    text-align: center;
    margin: 0 auto 10vh;
}
.banner.about {
    background-image: url("../images/about_banner.jpg");
    background-position: center;
}

.about-content p {
    margin-top: 40px;
}
.about-content p span{
    font-weight: 600;
    color: #ff0260;
}
.testimonialContainer {
    width: 100%;
    text-align: center;
    background-color: #f5f7ff;
    padding: 3vh 8vh;
    margin-bottom: 5vh;
}
.carousel {
    position: relative;
    max-width: 70vw;
    margin: 0 auto;
}
.carousel h2{
    font-size: 3vh;
}
.carousel h4{
    font-size: 1.8vh;
    font-weight: 400;
    min-height: 10vh;
}
.clientImage {
    max-width: 14vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-indicators {
    bottom: 0px !important;
}
.carousel-indicators li {
    background-color: #ffcbde !important;
}
.carousel-indicators li.active {
    background-color: #ff0260 !important;
}
.item {
    padding: 5vh 2vh;
}
.carousel-control {
    background-image: none !important;
}
.carousel-control.right {
    right: -10% !important;
}
.carousel-control.left {
    left: -10%;
}
.socialBlock {
    text-align: center;
    margin-bottom: 5vh;
}
.socialBlock .social {
    position: static;
    margin-top: 4vh;
} 
.socialBlock a {
    vertical-align: middle;
}
.socialBlock a.resume-btn {
    font-size: 1.5vh;
    font-weight: 900;
    margin-top: 2vh;
    display: inline-block;
    text-decoration: underline;
    color: #ff0260 !important;
}
.carousel-inner {
    position: relative;
    width: 90% !important;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1600px 
}






@media (max-width: 767px){
    
.about-content {
    width: 90%;
    text-align: center;
    margin-top: 50px;
}
.about-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.about-content p {
    margin-top: 15px;
}
.social h4 {
    font-size: 12px;
    margin-right: 0;
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
}
.testimonialContainer {
    width: 100%;
    text-align: center;
    background-color: #f5f7ff;
    padding: 3vh 0vh;
    margin-bottom: 5vh;
}
.testimonialContainer h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.carousel {
    position: relative;
    max-width: 90vw;
    margin: 0 auto;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
    .about-content {
        width: 75%;
    }
    .testimonialContainer {
        width: 100%;
        text-align: center;
        background-color: #f5f7ff;
        padding: 3vh 0vh;
        margin-bottom: 5vh;
    }
    .testimonialContainer h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}