.about-content {
    width: calc(100% - 35vw);
    text-align: center;
    margin: 0 auto 10vh;
}
.about-content .social {
    position: static;
    margin-top: 4vh;
} 
.about-content p {
    margin-top: 40px;
}
.about-content p span{
    font-weight: 600;
    color: #ff0260;
}
.about-content .social a {
    vertical-align: middle;
}
.about-content a.resume-btn {
    font-size: 0.8vw;
    font-weight: 900;
    margin-top: 3vh;
    display: inline-block;
    text-decoration: underline;
    color: #ff0260;
}









@media (max-width: 767px){
    

section.about-holder {
    max-width: 90%;
    margin: 120px auto 70px;
    flex-direction: column;
}
section.about-holder .about-img {
    width: 100%;
}
.about-content {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-top: 70px;
}
.about-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}




}



@media (min-width:768px) and (max-width: 1024px){
section.about-holder {
    max-width: 90%;
    margin: 120px auto 70px;
    flex-direction: column;
}
section.about-holder .about-img {
    width: 100%;
}
.about-content {
    width: 80%;
    padding-left: 0;
    text-align: center;
    margin-top: 70px;
}
.about-content img {
    width: 70%;
    margin: 0 auto;
}
}



@media (min-width:1200px) and (max-width: 1400px){

}