.at-resp-share-element .at-share-btn .at-icon-wrapper, .at-resp-share-element .at-share-btn .at-icon-wrapper svg {
    float: left;
    height: 2vw !important;
    width: 2vw !important;
    fill: #fff !important;
}
.blog-inner > header.shadow{
    box-shadow: 0px 0px 6px rgb(8, 8, 8, 0.35);
}
section.blog-holder header.blog-header {
    min-height: 48vh;
    background-color: #2d2d2d;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3%;
}
header.blog-header .header-container {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
header.blog-header .heading-content h1 {
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: -2px;
    color: #d23669;
}
header.blog-header .heading-content h3 {
    color: #fff;
    font-size: 1.75vw;
    font-weight: 600;
    letter-spacing: -1px;
}
header.blog-header .social-share span {
    font-size: 0.9vw;
    font-weight: 800;
    letter-spacing: 1px;
    color: #d23669;
}
header.blog-header .social-share * {
    display: inline-block;
    vertical-align: middle;
}
.social-share a {
    margin: 0 4px;
}
.container-content {
    margin: 7% auto 15%;
    max-width: 70%;
}
.container-content p {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.75vw;
    letter-spacing: 0px;
    margin-bottom: 5vh;
}
.container-content h2 {
    font-size: 1.7vw;
    margin: 8vh 0 3vh;
}
.container-content h2 span{
    font-size: 1.7vw;
    display: inline-block;
    color: #d23669;
    font-weight: 800
}
.container-content p span {
    background-color: #f6e4ea;
}
main {
    border-left: 10px solid #f19eb7;
    background-color: #f9ebef;
    padding: 30px 50px;
    max-width: 100%;
    margin: 8vh 0 8vh 0;
}
main p{
	margin-bottom: 0px !important;
}
.related-blogs-holder {
    max-width: 85%;
    margin: 0 auto 10%;
}
.related-blogs-holder {
    max-width: 85%;
    margin: 0 auto 10%;
    background-color: #f9eef1;
    border-left: 10px solid #e6b2c1;
    padding: 60px;
}
.related-blogs-holder h2{
	font-size: 1.7vw;
    margin: 0vh 0 3vh;
}
.related-blogs-holder ul {
    margin-left: 50px;
}
.related-blogs-holder ul li {
    list-style: upper-roman;
    font-weight: bold;
    margin-bottom: 10px;
}
.related-blogs-holder ul li a {
    font-size: 1.15vw;
    font-weight: 400;
    padding-left: 15px;
}
.related-blogs-holder ul li a strong {
    font-weight: 600;
    font-size: 24px;
    text-decoration: underline;
}
.series-block {
    max-width: 85%;
    margin: 10vh auto;
    padding: 3vw;
    border: 1px solid #ccc;
    position: relative;
}
.series-block h4 {
    font-size: 3vh;
    font-weight: 400;
    max-width: calc(100% - 200px);
}
.series-block h2 {
    font-size: 4.2vh;
    font-weight: 800;
    max-width: calc(100% - 200px);
}
.series-block a {
    position: absolute;
    right: 3vw;
    top: calc(50% - 20px);
    color: #d23669;
    font-size: 16px;
    border: 1px solid #d23669;
    padding: 8px 20px;
    border-radius: 25px;
}
.series-block a:hover {
    color: white;
    background-color: #d23669;
}
.series-block h6 strong {
    font-size: 2.15vh;
    text-transform: uppercase;
    color: #d23669;
    font-weight: 800;
    text-decoration: underline;
}
.series-block h6 {
    font-size: 2.2vh;
    margin-bottom: 5px;
}
.container-content ul li {
    list-style: auto;
    position: relative;
    margin-left: 15px;
}
.container-content li h3 {
    font-size: 3.15vh;
    margin-bottom: 10px;
}
.container-content li h4 {
    font-size: 1.25vw;
    text-decoration: underline;
    margin-bottom: 5px;
    }
.container-content p i {
    font-size: 1.35vw;
    background-color: #f2e2e7;
    padding: 1px 4px;
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
}
.note {
    background-color: #ffe6f0;
    padding: 2vw;
}
.note p {
    margin-bottom: 0px;
    font-size: 1.25vw;
}
.note p:before {
    content: 'Note: ';
    font-weight: 800;
    text-decoration: underline;
    font-size: 1.5vw;
}



@media (max-width: 1024px){
header.blog-header .header-container {
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
}
section.blog-holder header.blog-header {
    min-height: 40vh;
    padding-bottom: 5%;
}
header.blog-header .heading-content h1 {
    font-size: 38px;
    line-height: 25px;
    margin-bottom: 8px;
}
header.blog-header .heading-content h3 {
    font-size: 21px;
    font-weight: 500;
}
.social-share {
    margin-top: 20px;
}
header.blog-header .social-share span {
    font-size: 15px;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper, .at-resp-share-element .at-share-btn .at-icon-wrapper svg {
    float: left;
    height: 25px !important;
    width: 25px !important;
    fill: #fff !important;
}
.container-content {
    margin: 50px auto 50px;
    max-width: 85%;
}
.container-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.container-content h2 {
    font-size: 22px;
    margin: 50px 0 20px;
}
.container-content h2 span {
    font-size: 22px;
    font-weight: 800;
}
.container-content p span.highlight {
    font-size: 16px;
}
.container-content main {
    border-left: 7px solid #f19eb7;
    padding: 20px 20px;
    max-width: 95%;
    margin: 30px 0 30px;
}
.related-blogs-holder {
    max-width: 85%;
    border-left: 8px solid #e6b2c1;
    padding: 40px 20px;
}
.related-blogs-holder h2 {
    font-size: 22px;
    margin: 0 0 30px;
}
.related-blogs-holder ul {
    margin-left: 0px;
}
.related-blogs-holder ul li a {
    font-size: 16px;
    padding-left: 0px;
}
.related-blogs-holder ul li a strong {
    font-size: 16px;
    text-decoration: underline;
}
.related-blogs-holder ul li {
    list-style-position: inside;
    margin-bottom: 20px;
}
}

@media (min-width: 768px) and (max-width: 1024px){
section.blog-holder header.blog-header {
    min-height: 30vh;
}
header.blog-header .header-container {
    max-width: 85%;
}
header.blog-header .heading-content h1 {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 5px;
}
header.blog-header .heading-content h3 {
    font-size: 27px;
    font-weight: 500;
}
header.blog-header .social-share span {
    font-size: 16px;
    vertical-align: text-bottom;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper, .at-resp-share-element .at-share-btn .at-icon-wrapper svg {
    float: left;
    height: 25px !important;
    width: 25px !important;
}
.social-share {
    margin-top: 30px;
}
.container-content {
    margin: 50px auto 50px;
    max-width: 80%;
}
.container-content p {
    font-size: 18px;
}
.container-content h2, .container-content h2 span {
    font-size: 25px;
    font-weight: 800;
}
.related-blogs-holder {
    max-width: 80%;
}
.related-blogs-holder ul li {
    margin-bottom: 15px;
}
.related-blogs-holder ul li a, .related-blogs-holder ul li a strong {
    font-size: 18px;
}
.related-blogs-holder h2 {
    font-size: 25px;
}
}

@media (min-width: 1200px) and (max-width: 1400px){
.container-content {
    max-width: 75%;
}
.container-content h2, .container-content h2 span {
    font-size: 28px;
}
.container-content main {
    border-left: 8px solid #f19eb7;
}
.related-blogs-holder h2 {
    font-size: 28px;
}
.related-blogs-holder ul li a, .related-blogs-holder ul li a strong {
    font-size: 20px;
}
}