.about-content {
    width: calc(100% - 35vw);
    text-align: center;
    margin: 0 auto 10vh;
}
.banner.caseStudies {
    background-image: url("../images/case_studies_banner.jpg");
    background-position: center;
}
.about-content .social {
    position: static;
    margin-top: 4vh;
} 
.about-content p {
    margin-top: 40px;
}
.about-content p span{
    font-weight: 600;
    color: #ff0260;
}
.case-studies {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10vh;
}
.case-studies > div {
    width: 47%;
    position: relative;
}
.case-studies > div img {
    opacity: 0.1;
    transition: all 0.3s ease 0s;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
    cursor: pointer;
}
.content h2 {
    font-size: 3vh;
}
.content p {
    font-size: 1.5vh;
    max-width: 85%;
}
.case-studies > div:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    background-color: #fb7bb8;
    opacity: 0.15;
}
.case-studies > div:hover img {
    opacity: 0.1;
}
.case-studies > div:hover :after {
    opacity: 0.2;
}
.case-studies > div:hover .content {
    border: 1px solid #ff1a60;
}

/********************************************************************************************************/

.highlightsHolder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 8vh;
    width: 80vw;
    max-width: 1000px;
    justify-content: space-between;
}
.highlightsHolder > div {
    width: calc(50% - 25px);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #c4ceff;
    padding: 25px;
    border-radius: 4px;
}
.highlightsHolder > div img {
    max-width: 70px;
}
.highlightsHolder > div > div {
}
.highlightsHolder > div > div h2 {
    font-size: 2.25vh;
    font-weight: 600;
    line-height: 2.25vh;
}
.highlightsHolder > div > div h2:before {
    content: ' ';
    display: block;
    height: 1px;
    width: 130px;
    background-color: #ccc;
    margin: 20px auto;
}
.highlightsHolder > div > div h5 {
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: 5px;
}
.dividerBg {
    background-image: url(../images/services-bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.strategiesHolder {
    max-width: 60vw;
    margin: 10vh auto;
}
.stratgies > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5vh;
}
.stratgies img {
    max-width: 100px;
}
.stratgies h2 {
    font-size: 2.5vh;
    margin-bottom: 3vh;
}
.stratgies > div > div {
    padding-left: 2vw;
}
.stratgies h2:after {
    content: ' ';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ff0260;
    margin-top: 5px;
}



@media (max-width: 767px){
    
    .about-content {
        width: 90%;
        text-align: center;
        margin-top: 50px;
    }
    .about-content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .about-content p {
        margin-top: 15px;
    }
    .case-studies {
        flex-direction: column;
        max-width: 90%;
    }
    .case-studies > div {
        width: 80%;
        margin: 0px auto 20px;
    }
    .content {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
    .case-studies > div .content {
        border: 1px solid #ff1a60;
    }
    .content p {
        font-size: 11px;
        max-width: 90%;
        line-height: 12px;
    }


}



@media (min-width:768px) and (max-width: 1024px){

}



@media (min-width:1200px) and (max-width: 1400px){

}