section.contactPageSection {
    margin-top: 15vh;
    display: flex;
    max-width: 55%;
    margin: 25vh auto 0;
    align-items: center;
}
.contactContent {
    text-align: center;
}
.contactContent h2 {
    font-size: 2.5vw;
    margin-bottom: 40px;
}
.contactForm input, .contactForm textarea {
    background-color: rgba(209, 112, 141, 0.18);
    border: none;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #252525;
}
.contactForm textarea {
	height: 150px;
}
.contactForm form {
    max-width: 100%;
}
::placeholder {
 text-transform: uppercase;
    letter-spacing: 3px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 text-transform: uppercase;
    letter-spacing: 3px;
}

::-ms-input-placeholder { /* Microsoft Edge */
 text-transform: uppercase;
    letter-spacing: 3px;
}

.contactForm {
    width: 40%;
    display: none;
}
button.blankButton {
    background-color: #ff0260;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 17px 20px;
    width: 100%;
    font-weight: 600;
}
.contactContent .social {
    position: static;
    margin-top: 20px;
}
.contactContent p i {
    font-weight: 800;
    font-style: normal;
}
.contactContent p{
	margin-bottom: 5vh;
}
.contactContent ul li {
    margin-bottom: 10px
}
.contactContent ul li a:hover{
    color:#ff0260;
    font-weight: 600;
}
.contactContent .social a {
    margin: 0 3px;
}
.contactContent ul li a:before {
    content: ' ';
    display: inline-block;
    height: 24px;
    width: 30px;
    background-image: url(../images/sprite.png);
    vertical-align: bottom;
    margin-right: 10px;
}
.contactContent ul li a.mailer:before {
    background-position: 0px -69px;
}
.contactContent ul li a.phone:before {
    background-position: -70px -68px;
}

.meta-info{
    margin-top: 50px;
    font-size: 14px;
}
.meta-info a{
    color: #ff0260;
    font-weight: 600;
    font-size: 18px;
}














@media (max-width: 1024px){
    
section.contactPageSection {
    max-width: 90%;
    margin: 140px auto;
    flex-direction: column;
}
.contactContent {
    text-align: center;
    margin-bottom: 60px;
    padding-left: 0;
}
.contactContent h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.contactContent p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
}
.contactContent p i {
    font-size: 16px;
}
.contactContent ul li a {
    font-size: 16px;
}
.contactForm {
    width: 100%;
    order: 2;
}
.contactForm form {
    max-width: 100%;
}
.contactContent ul li a:before {
    height: 20px;
    width: 26px;
    background-position: 0px -57px;
    background-size: 125px;
}
.contactContent .social {
    position: static;
    margin-top: 50px;
}
.social h4 {
    font-size: 12px;
    margin-right: 0;
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
}
.social a.fb {
    background-position: 0 0;
    width: 14px;
}
.social a {
    background-size: 130px;
}
.social a.in {
    background-position: -18px 0;
}
.social a.gi {
    background-position: -50px 0;
}
.social a.tw {
    background-position: -80px 0;
}
.social a.wt {
    background-position: -112px 0;
    width: 18px;
}

}



@media (min-width:768px) and (max-width: 1024px){



}
