* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #252525 !important;
    font-family: "Roboto", sans-serif;
    font-size: 1.15vw;
  }

.ucContainer {
    padding: 5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 10vh;
    right: 10vh;
    top: 10vh;
    bottom: 10vh;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
img.logo {
    max-width: 350px;
    background-color: #fff;
    padding: 0 30px;
    position: absolute;
    top: -50px;
}
img.ucImage {
    max-width: 400px;
}
h1 {
    font-size: 3.5vh;
    font-weight: 300;
    margin-top: 50px;
}
h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}
h5 {
    font-size: 21px;
    margin-top: 30px;
    font-weight: 300;
}

@media (max-width: 1024px) { 
    img.logo {
        max-width: 250px;
        top: -30px;
    }
    h1 {
        font-size: 30px;
        font-weight: 300;
        margin-top: 40px;
    }
    h3 {
        font-size: 16px;
        font-weight: 400;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
    }
    img.ucImage {
        max-width: 250px;
    }
    .ucContainer {
        padding: 5vw;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        left: 20px;
        right: 20px;
        top: 40px;
        bottom: 20px;
}
}